/* -----------importing font family --------------------------- */



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar-brand {
    font-family: 'Rubik Iso', cursive;
    font-weight: 900;
    text-shadow: 2px 2px 8px #00ff78;
    color: yellow !important;
    font-size: 2rem;
}

#search_bar_{
    width: 20rem !important;;
}

.btn{
    width: 6rem !important;
}

.card img{
    border-radius: 20px;
    cursor: pointer;

}